body {margin:0;padding:0;background:#fafafa;font-family:'PT Sans', sans-serif;font-weight:400;font-size:16px;line-height:150%;}
h1 {}
h2 {color:#1769cf;font-size:40px;}
h3 {}
h4 {font-size:28px;padding:10px 0;margin:20px 0 10px; border-bottom:1px solid #ccc;}
header,
footer {text-align:center;padding:10px 0;}
	footer p:first-child {font-weight:bold;}
#pageContainer {width:1120px;margin:10px auto;display:grid;grid-template-columns:20% 80%;}
	#menu {padding:20px;}
	#content {background:#fff;padding:20px;}
		#content img {width:100%;height:auto;}
